<div id="content">
	<div class="col-md-12">
		<br>
		<br>
		<%= flash_message %>
		<%=image_tag(url_for controller:"demo", action:"show") %>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>