<div class="row">
<div id="projects_form">
<div class="col-xs-12 col-sm-6 col-sm-offset-3">
	<div class="panel panel-default">
    	<div class="panel-heading">
          	<div class="panel-title">
          		<i class="icon-save pull-right"></i>
              	<h4>Edit Experiments</h4>
          	</div>
    	</div>
    	<div class="panel-body">
		<%= render 'form' %>
	</div>
</div>
</div>
</div>
</div>
