<div class="row">
	<div class="glyphicons glyphicons-floppy-disk"></div>
		<div id="projects_form">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>New Experiments</h4>
					</div>
					<div class="panel-body">
						<%= render 'form' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
