<div id="content">
	<div class="container">
		<div class = "row">
		  <div class="alert alert-success">  
		    <p>Create a unique, informative name. The name
		    will appear in the Analysis Execution History on the Explore tab and
		    should be a name that will distinguish it from the other analyses in
		    your history.</p>
		  </div>
		</div>

		<div class="row">
			<div class="glyphicons glyphicons-floppy-disk"></div>
				<div id="projects_form">
					<div class="col-xs-12 col-sm-6 col-sm-offset-3">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4>New Analysis</h4>
							</div>
							<div class="panel-body">
								<%= render 'form' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>