/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_self
 * require dataTables/jquery.dataTables
 * require rails_bootstrap_forms
 * require_tree .

 *= require_self
 *= require_tree .
 */

.row-centered {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
 
.main-box { 
	background:#FFFFFF;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	padding:5px;
	border-radius:3px;
	background-clip:padding-box;
	border:1px solid #e7ebee;
}

.button_to {
  display: inline;
}

.button_to div {
  display: inline;
}